body, div{
    box-sizing: border-box;
}

.logonavbar {
    height: 50px;
    width: 65px;

}


.fondo {
    background-color: aqua;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.fondo--imagen {
    margin-top: 50px;
}

#foto-conciento{
    height: auto;
    width: 50%;

}

#texto-fondo{
    margin-top: 50px;
    text-align: center;
    background-color: red;
    flex-basis: 600px;
    height: 100px;
}



footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
}