*{
    margin: 0;
    padding: 0;
}


.logonavbar{
    height: 50px;
    width: 65px;
    

}

footer {
    background-color: #182BAD;
    color: #DEE0E0;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.mt{
    margin-top: 100px;
}



.eventos_page{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}
.invisible_container{
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 100%;
  grid-template-areas: "a1 a2 a3";
  grid-area: main;
;
}

.eventos_container {
    grid-area: a2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }

    .eventos_container h1, h2 {
      color: #E66F18; 
    }
    .eventos_container p {
      color: #1e1e1e;
      font-family: 'Times New Roman', Times, serif;
     }
    .eventos_container ul {
      /* display: flex;*/
        list-style-type:none;
        font-weight: 600; }
    .eventos_container ul li {
        color: #1e1e1e;  }
    .eventos_container ul li:hover {
         color: #E66F18 }


    /*COLORES A USAR
     #E66F18 Naranja
     #182BAD Azul intenso
     #1E1E1E Negro
     #484F7A Gris azulado
     #DEE0E0 Blanco
     #AD9F9A Lila grisaceo
     
    */
