/* * {
    margin: 0;
    padding: 0;
} */

/* body {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

.logonavbar {
    height: 50px;
    width: 65px;

}


.fondo {
    background-color: #212529;
    display: flex;
    flex-wrap: wrap;


}

#foto-conciento {
    padding: 50px 0;
    /* border-radius: 50%; */
    margin: auto;
    /* width: 300px;
    height: 300px; */


}

#texto-fondo {
    color: #ffc;
    font-size: 20px;
    width: 50%;
    padding-top: 5%;
    padding-left: 5%;
    margin: 0%;
    text-align: justify;
}


.staff {
    position: relative;
}

h2 {
    background-color: burlywood;
    margin: 0;
    padding: 0;
}

.profes{
    display: flex;
    width: 100vw;
    height: 100vh;
    
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: aqua;
}

.relleno{
    background-image: url(./img/NicoG.jpg);
    width: 300px;
    height: 200px;
    background-size: cover;
}
.relleno2{
    background-image: url(./img/NoeliaG.jpg);
    width: 300px;
    height: 200px;
    background-size: cover;
}

/*.profes-item {
    border-radius: 7%;
    width: 300px;
}
.profes-item:hover {
    opacity: 0.07;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    transition: opacity 500ms;
} */


/* footer {
    background-color: #182BAD;
    color: #DEE0E0;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
    margin: 0;
} */
